html
	head
	
body
	div#head_div
		a(href = "/index.html" style={"white-space": "nowrap"}) Home 
		a(href = "/order" style={ "padding": "14px 25px"}) Order
		a(href = "/stats" style={"white-space": "nowrap"}) Stats
		
	div#main_div
		h1(style ={color: 'red'})#head1 Welcome to the allied restuarants page
		div#inner_div1
			h2#head_2 Currently we have #{restaurants.length} restaurants to order from
			
		
			

	
